// Police de caractères
$font-family: 'Rubik';


// taille des caractères
$default-font-size: 16px;
$title: pxToRem(70);
$subtitle: pxToRem(60);
$paragraph: pxToRem(50);


// Couleur des caractères
$text-color : #FFFFFF;


// couleur de fond
$background-color : #DE4523;