
/* Mise en place des éléments de base de page html */
body{
  margin:0;
  background-color: $background-color;
  font: $default-font-size $font-family, sans-serif;
  color: $text-color;
}

header{
  text-align: center;
}

main{
  font-size: $paragraph;
}

h1{
  font-size: $title;}

h2{
  font-size: $subtitle;


}

main{
  @include flexbox(row, flex-start , flex-start);
  overflow: hidden;
  width: 100vw;
  > div{
    flex: 0 0 100%;
  }
}

#screen-common{
  @include flexbox(row, space-around, flex-start);
  overflow: hidden;
  opacity: 1;

  &.close{
    flex:  0 0 0;
    opacity: 0;
    transition: flex .6s linear, opacity .1s linear ;
  }

  > div{

    &:first-child{
      flex: 0 0 39%;
    }

    > h2{

        @include flexbox(column, center, center);


        &::before{
          content: url(../skins/hippo.png);
          display: block;
        }
    }

    > ol{
        @include list-style-reset;
        text-align: center;
    }
  }


}


#screen-game{


  text-align: center;

  // Variable local
  $width-board-game: 960px;

  > #game-board{
    @include list-style-reset;
    width:100%;
    max-width: $width-board-game;
    margin: 0 auto;
    @include flexbox( row, space-between);
    flex-wrap: wrap;

    > .card {
      background-color: transparent;
      perspective: 1000px;
      padding: pxToRem(10);
      border: 1px solid #FFFFFF;
      @include flexbox(row, space-between, center);
      margin-bottom: pxToRem(15);
      flex-wrap: wrap;
      cursor: pointer;

      &.active {
        transform: rotateY(180deg);
      }

      > .card-inner {
        position: relative;
        width: 100px;
        height: 100px;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        > .card-front, > .card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        > .card-front {
          background-color: #401414;
        }

        .card-back {
          background-image: url(../skins/cards.png);
          background-repeat: no-repeat;
          transform: rotateY(180deg);
        }
      }
    }
  }


  // Variable local component progress bar
  $progress-bar-width: $width-board-game;
  $progress-bar-height: 20px;
  $progress-bar-border: 1px solid;
  $progress-bar-border-color : #FFFFFF;
  $progress-bar-border-radius: 5px;
  $progress-bar-background-color:  #94FF8C;


  > #progress{
    width: $progress-bar-width;
    height: $progress-bar-height;
    border-radius: $progress-bar-border-radius;
    border: $progress-bar-border $progress-bar-border-color;
    overflow: hidden;
    margin: 0 auto;

    > div{
      height: 100%;
      background:$progress-bar-background-color;
    }
  }
}





