
/* Mise en place des éléments de base de page html */
body{
  margin:0;
  background-color: $background-color;
  font: $default-font-size $font-family, sans-serif;
  color: $text-color;
}

header{
  padding-left: pxToRem(50);
}

main{
  font-size: $paragraph;
}

h1{
  font-size: $title;
}

h2{
  font-size: $subtitle;
}

#screen-common{
  @include flexbox(row, space-around, flex-start);

  > div{

    &:first-child{
      flex: 0 0 39%;
    }

    > h2{

        @include flexbox(column, center, center);


        &::before{
          content: url(../skins/hippo.png);
          display: block;
        }
    }

    ol{
      @include list-style-reset;
      text-align: center;
    }
  }


}

